@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
body {
  overflow-x: hidden;
}
html,
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  @apply text-white;
}
.container {
  @apply w-5/6 mx-auto  max-w-none;
}
input,
textarea {
  @apply border-0 outline-0;
}
.bg-glass {
  background: rgb(91 91 128 / 55%);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
